html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;

  @include respond-to(phone) {padding-top: 80px;}
  @include respond-to(smalltablet) {padding-top: 80px;}

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .main-page-content {
    flex-grow: 1;
  }
}