.main-navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  height: 50px;
  font-size: 1.3em;
  border-bottom: 3px solid $brand_green_dark;
  z-index: 99999;

  @include respond-to(phone) {
    display: block;
    height: 80px;
  }
  @include respond-to(smalltablet) {flex-direction: column; height: 80px;}

  & > * {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .branding-strip {
    flex-basis: 50%;
    //font-size: 2em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 20px;

    @include respond-to(phone) {
      width: 100%;
      display: block;
      padding-left: 0;
      text-align: center;
      height: 40px;
      line-height: 40px;
    }
  }

  .nav-list {
    flex-basis: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;

    @include respond-to(phone) {
      width: 100%;
      display: block;
      font-size: 0;
    }

    .nav-link {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 33%;
      background: $brand_green_soft;
      //font-size: 2em;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border-left: 1px solid $brand_green_dark;

      @include respond-to(phone) {
        display: inline-block;
        width: 33.3%;
        margin: 0;
        font-size: 20px;
        height: 38px;
        line-height: 38px;
      }

      &:hover {
        background: $brand_green_dark;
      }

      &:nth-child(1) {
        //background: $brand_green_dark;
        border-left: none;
      }
    }
  }
}