body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  animation: slideToBottom 0.3s; }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in; }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  animation: animateErrorIcon 0.5s; }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  animation: animateXMark 0.5s; }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  animation: pulseWarning 0.75s infinite alternate; }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate; }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */

@keyframes ball-fall {
  0% {
    opacity: 0;
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    transform: translateY(0); }
  80% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    transform: translateY(145%); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html {
  height: 100%; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-top: 50px; }
  @media only screen and (max-width: 425px) {
    body {
      padding-top: 80px; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    body {
      padding-top: 80px; } }
  body > * {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  body .main-page-content {
    -ms-flex-positive: 1;
    flex-grow: 1; }

.text-green-soft {
  color: #84D376; }

.text-green-hard {
  color: #008058; }

.text-orange {
  color: #FFA54B; }

.text-dark {
  color: #565656; }

.text-blue {
  color: #0092BF; }

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.375em;
  text-transform: uppercase; }

.sub-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.56em;
  text-transform: uppercase; }

.small-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase; }

.body-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25em; }

.centered-text {
  text-align: center; }

.main-navbar {
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  height: 50px;
  font-size: 1.3em;
  border-bottom: 3px solid #008058;
  z-index: 99999; }
  @media only screen and (max-width: 425px) {
    .main-navbar {
      -ms-flex-direction: column;
      flex-direction: column;
      height: 80px; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .main-navbar {
      -ms-flex-direction: column;
      flex-direction: column;
      height: 80px; } }
  .main-navbar > * {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1; }
  .main-navbar .branding-strip {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px; }
  .main-navbar .nav-list {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none; }
    .main-navbar .nav-list .nav-link {
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
      background: #84D376;
      text-transform: uppercase;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #ffffff;
      border-left: 1px solid #008058; }
      .main-navbar .nav-list .nav-link:hover {
        background: #008058; }
      .main-navbar .nav-list .nav-link:nth-child(1) {
        border-left: none; }

.main-footer {
  width: 100%;
  padding: 30px 0;
  background: #84D376;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  background-image: url(../../images/assets/footer_bg_pattern.png); }
  .main-footer > * {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .main-footer .social-links {
    text-align: center; }
    .main-footer .social-links ul {
      list-style-type: none;
      padding: 0; }
      .main-footer .social-links ul li {
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto; }
        .main-footer .social-links ul li svg {
          height: 30px; }
          .main-footer .social-links ul li svg rect {
            fill: #008058;
            stroke: #84D376; }
          .main-footer .social-links ul li svg path {
            fill: #84D376; }
          .main-footer .social-links ul li svg:hover rect {
            fill: #3b5998;
            stroke: none; }
          .main-footer .social-links ul li svg:hover path {
            fill: #ffffff; }
  .main-footer .quick-links {
    text-align: center; }
    .main-footer .quick-links ul {
      list-style-type: none;
      padding: 0; }
      .main-footer .quick-links ul li {
        display: inline-block;
        padding: 10px;
        color: #ffffff;
        text-transform: uppercase; }
        .main-footer .quick-links ul li:hover {
          color: #008058; }
        .main-footer .quick-links ul li a {
          color: inherit;
          text-decoration: none; }
  .main-footer .footer-heading {
    color: #008058;
    text-transform: uppercase; }

.cart-summary-alert-box {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  background: #ffffff;
  border: 4px solid #008058;
  color: #008058;
  padding: 20px;
  transition: .4s;
  transform: translate3d(-50%, -110%, 0); }
  .cart-summary-alert-box.exposed {
    transform: translate3d(-50%, -10%, 0); }

#cart-nav-link:hover + .cart-summary-alert-box {
  transform: translate3d(-50%, -10%, 0); }

.spinner {
  margin: 0 auto;
  width: 100%;
  max-width: 70px;
  text-align: center; }

.spinner > div {
  width: 25.714%;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner > div:after {
  content: '';
  display: block;
  padding-bottom: 100%; }

.spinner .bounce1 {
  animation-delay: -0.32s; }

.spinner .bounce2 {
  animation-delay: -0.16s; }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }

.breadcrumbs {
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-left: 20px; }
  .breadcrumbs ul {
    list-style-type: none;
    padding: 0; }
    .breadcrumbs ul .breadcrumb {
      color: #888;
      text-transform: uppercase;
      display: inline-block; }
      .breadcrumbs ul .breadcrumb:not(:nth-child(1)):before {
        content: '>>';
        color: #888;
        display: inline-block;
        padding: 5px; }
      .breadcrumbs ul .breadcrumb:hover {
        color: #008058; }
      .breadcrumbs ul .breadcrumb a, .breadcrumbs ul .breadcrumb a:visited, .breadcrumbs ul .breadcrumb a:focus, .breadcrumbs ul .breadcrumb a:hover {
        text-decoration: none;
        color: inherit; }

.home-section {
  padding: 40px 10px; }

.home-section.hero {
  min-height: 500px;
  width: 100%;
  background: #a8a8a8;
  background-image: url(../../images/assets/header_image.jpg);
  background-size: cover; }
  .home-section.hero .logo {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    padding-top: 38px;
    padding-bottom: 20px; }
  .home-section.hero .tagline {
    text-align: center;
    color: #013604; }

.home-section.top-sellers {
  min-height: 300px; }

.home-section.how-it-works {
  background: #84D376;
  color: #ffffff; }

.categories-container {
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .categories-container .category-card {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 8px; }

.category-card {
  padding: 10px; }
  .category-card img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto; }
  .category-card .small-heading {
    text-transform: uppercase;
    text-align: center;
    color: #008058; }
  .category-card:hover {
    box-shadow: 0px 0px 5px #84D376; }

.product-slider {
  width: 95%;
  max-width: 880px;
  margin: 0 auto;
  position: relative; }
  .product-slider .slick-dots {
    list-style-type: none;
    padding: 0;
    text-align: center; }
    .product-slider .slick-dots li {
      display: inline-block;
      width: 8px;
      height: 8px;
      font-size: 0;
      color: transparent;
      background: #008058;
      margin: 10px; }
      .product-slider .slick-dots li button {
        display: none; }
  .product-slider .slick-arrow {
    transform: translateY(-50%);
    top: 30%;
    position: absolute;
    fill: #008058;
    stroke: #008058;
    width: 40px;
    z-index: 9000; }
    .product-slider .slick-arrow:hover {
      fill: #84D376;
      stroke: #84D376; }
    @media only screen and (max-width: 425px) {
      .product-slider .slick-arrow {
        opacity: .8; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .product-slider .slick-arrow {
        opacity: .8; } }
  .product-slider .slick-prev {
    left: -50px; }
    @media only screen and (max-width: 425px) {
      .product-slider .slick-prev {
        left: 0; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .product-slider .slick-prev {
        left: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 999px) {
      .product-slider .slick-prev {
        left: 10px; } }
  .product-slider .slick-next {
    right: -50px; }
    @media only screen and (max-width: 425px) {
      .product-slider .slick-next {
        right: 0; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .product-slider .slick-next {
        right: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 999px) {
      .product-slider .slick-next {
        right: 10px; } }
  .product-slider .slick-slide img {
    display: block;
    max-width: 180px;
    margin: 0 auto; }
  .product-slider .slick-slide .product-link {
    text-align: center;
    display: block;
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
    color: #008058;
    border: 2px solid #008058;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 20px;
    text-transform: uppercase; }
    .product-slider .slick-slide .product-link:hover {
      color: #ffffff;
      border: 2px solid #008058;
      background: #008058; }

.how-it-works-container {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 425px) {
    .how-it-works-container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .how-it-works-container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .how-it-works-container .how-it-works {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 425px) {
      .how-it-works-container .how-it-works {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .how-it-works-container .how-it-works {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
    .how-it-works-container .how-it-works svg {
      width: 40%;
      max-height: 70px;
      display: block;
      margin: 0 auto;
      fill: #008058;
      stroke: #008058; }
      .how-it-works-container .how-it-works svg * {
        stroke: #008058; }
      .how-it-works-container .how-it-works svg .cls-2 {
        fill: #008058;
        stroke: #008058; }
    .how-it-works-container .how-it-works p {
      text-align: center;
      padding-top: 20px;
      line-height: 1.6; }
    .how-it-works-container .how-it-works:nth-child(3) svg {
      padding-top: 15%;
      width: 60%; }

.bat-sizes {
  background: #84D376; }
  @media only screen and (max-width: 425px) {
    .bat-sizes {
      min-height: 720px;
      overflow-x: hidden; } }
  .bat-sizes .main-heading {
    color: #ffffff; }
  .bat-sizes .mobile-table-key {
    display: none; }
    @media only screen and (max-width: 425px) {
      .bat-sizes .mobile-table-key {
        display: block;
        color: #008058;
        font-size: 80%;
        text-transform: uppercase;
        text-align: center;
        margin-top: -20px;
        padding-bottom: 20px; }
        .bat-sizes .mobile-table-key span {
          display: inline-block;
          padding: 10px 20px; } }

.bat-size-table {
  width: 95%;
  max-width: 900px;
  margin: 0 auto; }
  @media only screen and (max-width: 425px) {
    .bat-size-table {
      transform: rotate(-90deg) translate3d(-50px, 0, 0); } }
  @media only screen and (max-width: 425px) {
    .bat-size-table .bat-img-row {
      transform: translate3d(0, -20px, 0);
      opacity: .2; } }
  .bat-size-table .label-row {
    padding-top: 10px;
    height: 30px; }
    .bat-size-table .label-row td {
      color: #008058;
      font-size: 80%;
      text-transform: uppercase;
      text-align: center; }
      @media only screen and (max-width: 425px) {
        .bat-size-table .label-row td {
          color: transparent; } }
  .bat-size-table td {
    text-align: center; }
  .bat-size-table .first-col {
    width: 165px;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff; }
  .bat-size-table .info-row {
    line-height: 2;
    color: #ffffff; }
    @media only screen and (max-width: 425px) {
      .bat-size-table .info-row td {
        transform: rotate(90deg) translate3d(-200px, 0, 0);
        white-space: nowrap; } }
  .bat-size-table .bat-size-bat img {
    width: 30px;
    transform-origin: bottom; }
  .bat-size-table .bat-size-bat-1 img {
    transform: scale(0.82); }
  .bat-size-table .bat-size-bat-2 img {
    transform: scale(0.84); }
  .bat-size-table .bat-size-bat-3 img {
    transform: scale(0.86); }
  .bat-size-table .bat-size-bat-4 img {
    transform: scale(0.88); }
  .bat-size-table .bat-size-bat-5 img {
    transform: scale(0.9); }
  .bat-size-table .bat-size-bat-6 img {
    transform: scale(0.92); }
  .bat-size-table .bat-size-bat-7 img {
    transform: scale(0.94); }
  .bat-size-table .bat-size-bat-8 img {
    transform: scale(0.96); }
  .bat-size-table .bat-size-bat-9 img {
    transform: scale(0.98); }
  .bat-size-table .bat-size-bat-10 img {
    transform: scale(1); }
  .bat-size-table .bat-size-bat-11 img {
    transform: scale(1.02); }

#contact-toggle:checked + section.contact-form {
  min-height: 300px;
  max-height: 400px;
  height: auto; }

#contact-toggle {
  display: none; }

section.contact-form {
  transition: .5s;
  min-height: 0;
  height: 0;
  max-height: 0;
  overflow: hidden; }

.kooka-contact-form {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .kooka-contact-form.spent .double-input-row, .kooka-contact-form.spent .message-box, .kooka-contact-form.spent .button-box {
    opacity: 0; }
  .kooka-contact-form label {
    font-size: 80%;
    text-transform: uppercase;
    color: #84D376; }
  .kooka-contact-form .double-input-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
    transition: .7s; }
    @media only screen and (max-width: 425px) {
      .kooka-contact-form .double-input-row {
        -ms-flex-direction: column;
        flex-direction: column; } }
    .kooka-contact-form .double-input-row > * {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-positive: 0;
      flex-grow: 0; }
      @media only screen and (max-width: 425px) {
        .kooka-contact-form .double-input-row > * {
          -ms-flex-preferred-size: auto;
          flex-basis: auto; } }
    .kooka-contact-form .double-input-row .form-group input {
      display: inline-block;
      width: 100%; }
    .kooka-contact-form .double-input-row input {
      height: 32px;
      line-height: 32px;
      padding-left: 5px;
      border: 1px solid #008058; }
  .kooka-contact-form .message-box {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .7s; }
    .kooka-contact-form .message-box .form-group {
      width: 100%; }
    .kooka-contact-form .message-box textarea {
      display: block;
      width: 100%;
      resize: none;
      height: 120px;
      border: 1px solid #008058; }
  .kooka-contact-form .button-box {
    text-align: center;
    padding: 15px 0;
    transition: .7s; }
    .kooka-contact-form .button-box button {
      border: 0;
      background: #84D376;
      color: #ffffff;
      height: 34px;
      vertical-align: top;
      width: 150px;
      text-transform: uppercase;
      font-size: 1em; }
      .kooka-contact-form .button-box button:hover {
        background: #008058; }
  .kooka-contact-form .thanks-cover {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: .5s;
    transform: translate3d(-100%, 0, 0); }
    .kooka-contact-form .thanks-cover.show {
      transform: translate3d(0, 0, 0); }
    .kooka-contact-form .thanks-cover .reset-button {
      position: absolute;
      right: 20px;
      bottom: 10px;
      font-size: 80%;
      color: #FFA54B;
      cursor: pointer; }
    .kooka-contact-form .thanks-cover .thanks-note {
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #84D376;
      font-size: 1.5em; }

.contact-panel {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 425px) {
    .contact-panel {
      -ms-flex-direction: column;
      flex-direction: column; } }
  .contact-panel .contact-method-box {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    text-align: center; }
    @media only screen and (max-width: 425px) {
      .contact-panel .contact-method-box {
        -ms-flex-preferred-size: 150px;
        flex-basis: 150px; } }

.contact-method-box svg {
  height: 80px;
  fill: #84D376; }
  .contact-method-box svg:hover {
    fill: #008058; }

.contact-method-box.phone-box svg {
  fill: #FFA54B; }

.contact-method-box.email-box svg {
  fill: #0098ff;
  transform: scale(0.8); }

.contact-method-box.message-box svg {
  fill: #ff73ad; }
  .contact-method-box.message-box svg:hover {
    animation-duration: 1s;
    animation-name: messageShake; }

@keyframes messageShake {
  0% {
    transform: translate3d(0, 0px, 0) rotate(0deg); }
  10% {
    transform: translate3d(0, -10px, 0) rotate(5deg); }
  20% {
    transform: translate3d(0, -20px, 0) rotate(0deg); }
  30% {
    transform: translate3d(0, -10px, 0) rotate(-5deg); }
  40% {
    transform: translate3d(0, 0px, 0) rotate(0deg); }
  50% {
    transform: translate3d(0, -10px, 0) rotate(5deg); }
  60% {
    transform: translate3d(0, -20px, 0) rotate(0deg); }
  70% {
    transform: translate3d(0, -10px, 0) rotate(-5deg); }
  80% {
    transform: translate3d(0, 0px, 0) rotate(0deg); }
  90% {
    transform: translate3d(0, -10px, 0) rotate(5deg); }
  100% {
    transform: translate3d(0, 0px, 0) rotate(0deg); } }

.category-products {
  border-top: 1px solid #84D376; }

.category-products-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px; }
  @media only screen and (max-width: 425px) {
    .category-products-container {
      -ms-flex-pack: center;
      justify-content: center; } }
  .category-products-container .product-summary-card {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    padding: 20px 8px;
    max-width: 300px; }
    @media only screen and (max-width: 425px) {
      .category-products-container .product-summary-card {
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .category-products-container .product-summary-card:hover {
      box-shadow: 0px 0px 5px #84D376; }
    .category-products-container .product-summary-card img {
      max-width: 200px;
      display: block;
      margin: 0 auto; }
    .category-products-container .product-summary-card .product-summary-card-price {
      background: #ffffff;
      color: #008058;
      border: 2px solid #008058;
      display: block;
      width: 7em;
      text-align: center;
      margin: 0 auto;
      padding: 4px 8px; }

.product-show {
  border-top: 2px solid #84D376;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 425px) {
    .product-show {
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .product-show {
      -ms-flex-direction: column;
      flex-direction: column; } }
  .product-show .product-images-container {
    display: inline-block;
    vertical-align: top;
    border-right: 2px solid #84D376;
    margin-top: 30px;
    margin-bottom: 30px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    -ms-flex-order: 5;
    order: 5; }
    @media only screen and (max-width: 425px) {
      .product-show .product-images-container {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        border-right: 0; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .product-show .product-images-container {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        border-right: 0; } }
  .product-show .product-details-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 30px 0 30px;
    display: inline-block;
    vertical-align: top;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    -ms-flex-order: 5;
    order: 5; }
    @media only screen and (max-width: 425px) {
      .product-show .product-details-container {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -ms-flex-order: 1;
        order: 1; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .product-show .product-details-container {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -ms-flex-order: 1;
        order: 1; } }

.product-images-container .product-gallery {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px; }
  .product-images-container .product-gallery .main-image {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px; }
    @media only screen and (max-width: 425px) {
      .product-images-container .product-gallery .main-image {
        width: 60%; } }
    @media only screen and (min-width: 426px) and (max-width: 767px) {
      .product-images-container .product-gallery .main-image {
        width: 60%; } }
  .product-images-container .product-gallery .thumbnail {
    width: 60px;
    height: 60px;
    margin: 10px;
    display: inline-block; }
    .product-images-container .product-gallery .thumbnail img {
      width: 100%; }

.product-details-container .product-description {
  padding: 40px 0; }

.add-to-cart-form .quantity-input {
  width: 50px;
  height: 34px;
  line-height: 34px;
  padding-left: 5px;
  vertical-align: top;
  border: 1px solid #008058; }

.add-to-cart-form .kooka-cart-btn {
  display: inline-block;
  width: 10em;
  font-size: 1em;
  border: 0;
  background: #84D376;
  color: #ffffff;
  text-transform: uppercase;
  height: 34px;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif; }
  .add-to-cart-form .kooka-cart-btn:hover {
    background: #008058; }

.cart-item {
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  clear: both;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 425px) {
    .cart-item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background: #e1ecef;
      padding: 5px; } }
  .cart-item .cart-item-thumb-box {
    display: inline-block;
    vertical-align: top;
    width: 50px; }
    .cart-item .cart-item-thumb-box img {
      width: 100%;
      font-size: 0;
      padding: 0;
      margin: 0; }
  .cart-item .cart-item-name {
    display: inline-block;
    vertical-align: top;
    width: 40%; }
    @media only screen and (max-width: 425px) {
      .cart-item .cart-item-name {
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
        width: auto;
        text-align: right;
        padding-right: 10px; } }
  .cart-item .cart-item-qty-box {
    display: inline-block;
    vertical-align: top;
    width: 20%; }
    @media only screen and (max-width: 425px) {
      .cart-item .cart-item-qty-box {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: auto; } }
    .cart-item .cart-item-qty-box .number {
      display: inline-block;
      width: 40px;
      height: 34px;
      vertical-align: top;
      line-height: 34px; }
    .cart-item .cart-item-qty-box .cart-qty-btn {
      display: inline-block;
      width: 40px;
      border: 0;
      height: 34px;
      vertical-align: top;
      text-transform: uppercase; }
    .cart-item .cart-item-qty-box .cart-edit-btn {
      background: #84D376;
      color: #ffffff; }
    .cart-item .cart-item-qty-box .cart-save-btn {
      background: #008058;
      color: #ffffff; }
  .cart-item .cart-item-subtotal {
    display: inline-block;
    vertical-align: top;
    width: 20%; }
    @media only screen and (max-width: 425px) {
      .cart-item .cart-item-subtotal {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: auto; } }
  .cart-item .cart-item-trash {
    display: inline-block;
    vertical-align: top;
    width: 60px; }
    @media only screen and (max-width: 425px) {
      .cart-item .cart-item-trash {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: auto; } }
    .cart-item .cart-item-trash button {
      border: 0;
      background: transparent; }
    .cart-item .cart-item-trash svg {
      fill: #ff4850; }

.cart-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
  .cart-list:before, .cart-list:after {
    content: " ";
    display: table; }
  .cart-list:after {
    clear: both; }
  .cart-list .checkout-button {
    display: inline-block;
    border: 0;
    background: #84D376;
    color: #ffffff;
    text-transform: uppercase;
    height: 34px;
    vertical-align: top;
    float: right;
    margin-right: 30px;
    padding: 0 10px;
    line-height: 34px;
    margin-top: 40px; }
    .cart-list .checkout-button:hover {
      background: #008058; }

.cart-help {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
  border-top: 1px solid #008058;
  margin-top: 50px; }

.checkout-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 425px) {
    .checkout-container {
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .checkout-container {
      -ms-flex-direction: column;
      flex-direction: column; } }

.checkout-help {
  display: inline-block;
  padding: 0 20px 0 30px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-order: 5;
  order: 5; }
  @media only screen and (max-width: 425px) {
    .checkout-help {
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .checkout-help {
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }
  .checkout-help h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #84D376; }

.checkout-main {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  -ms-flex-order: 5;
  order: 5; }
  @media only screen and (max-width: 425px) {
    .checkout-main {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      -ms-flex-order: 1;
      order: 1; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .checkout-main {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      -ms-flex-order: 1;
      order: 1; } }

.checkout-order-table {
  width: 95%;
  max-width: 700px;
  margin: 0 auto; }
  .checkout-order-table thead tr th {
    text-align: left;
    color: #84D376; }
  .checkout-order-table tfoot tr th {
    text-align: left;
    color: #84D376; }
  .checkout-order-table tfoot tr .foot-heading {
    text-align: right;
    padding-right: 40px;
    color: #84D376; }

.customer-form {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0; }
  .customer-form .form-group {
    padding: 5px 0; }
  .customer-form label {
    text-transform: uppercase;
    font-size: 80%;
    color: #008058; }
  .customer-form input {
    width: 100%;
    height: 34px;
    display: inline-block;
    border: 1px solid #008058;
    padding-left: 5px;
    font-size: 1em; }
  .customer-form textarea {
    width: 100%;
    display: inline-block;
    resize: none;
    height: 120px;
    border: 1px solid #008058;
    padding: 10px;
    font-size: 1em; }
  .customer-form .checkout-button {
    width: 100%;
    text-align: center;
    display: inline-block;
    border: 0;
    background: #84D376;
    color: #ffffff;
    text-transform: uppercase;
    height: 34px;
    line-height: 34px;
    font-size: 1em;
    padding: 0;
    font-family: 'Montserrat', sans-serif; }
    .customer-form .checkout-button:hover {
      background: #008058; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #565656; }
  @media only screen and (max-width: 425px) {
    body {
      padding-top: 80px; } }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    body {
      padding-top: 80px; } }

a, a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: none; }

/*# sourceMappingURL=fapp.css.map */
