$primary_blue: #81CDBC;
$primary_dark: #40333E;
$soft_purple: #645258;
$primary_red: #EF6060;
$white: #ffffff;
$danger: #ff4850;
$text_grey: #888;
$eggshell: #e1ecef;
//brand colors
$super_dark_green: #1f4c21;
$brand_green_dark: #008058;
$brand_green_soft: #84D376;
$brand_orange: #FFA54B;
$brand_dark: #565656;
$brand_blue: #0092BF;

$disco_blue: #0098ff;
$disco_yellow: #ffea2a;
$disco_orange: #e87b1b;
$disco_pink: #ff73ad;

$facebook_blue: #3b5998;