@import "mixins/media";
@import "variables/colours";
$navbar-inverse-bg: $primary_dark;
$navbar-inverse-color: $primary_red;
$navbar-inverse-link-active-color: $white;
$navbar-inverse-link-color: $primary_red;
$navbar-border-radius: 0;
$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;


@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/sweetalert";
@import "admin/partials/navbar";
@import "admin/partials/forms";
@import "admin/partials/buttons";
@import "admin/partials/usercard";
@import "admin/partials/blogposteditior";
@import "admin/partials/blogindex";
@import "admin/partials/modals";
@import "admin/partials/singleupload";
@import "admin/partials/categories";
@import "admin/partials/productindex";
@import "admin/partials/toggleswitch";
@import "admin/partials/gallery";

a, a:hover, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}