.home-section {
  padding: 40px 10px;
}

.home-section.hero {
  min-height: 500px;
  width: 100%;
  background: #a8a8a8;
}

.home-section.top-sellers {
  min-height: 300px;
}

.home-section.how-it-works {
  background: $brand_green_soft;
  color: $white;
}