.product-show {

  .product-images-container {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }

  .product-details-container {
    display: inline-block;
    width: 58%;
    vertical-align: top;
  }
}